body {
    margin: 0;
    font-family: sans-serif;
    color: #595B83;
}

/* header */

header {
    background-color: #F6DFEB;
    display: flex;
    justify-content: center;
}

.header-wrapper {
    flex-basis: 910px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 70px;
}

ul {
    display: flex;
    gap: 30px;
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #595B83;
}

.logo {
    font-weight: bold;
}

.header-container {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    margin-bottom: 70px; 
}

.header-left {
    flex-basis: 450px;
}

h1 {
    font-size: 48px;
    margin: 0;
}

p {
    font-size: 16px;
}

.button-top {
    font-weight: bold;
    font-size: 18px;
    background: #E4BAD4;
    color: #595B83;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
}

.shitty-img {
    width: 410px;
    height: 250px;
    border-radius: 10px;
}

/* information */

h2 {
    font-size: 36px;
    text-align: center;
    margin: 40px;
    padding-top: 20px;
}

.information-section {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 60px;
}

.img-wrapper {
    flex-basis: 180px;
}

.city {
    width: 180px;
    height: 180px;
    border-radius: 5%;
    border: 5px solid #595B83;
}

.text {
    text-align: center;
}

/* quote */
.quote-section {
    display: flex;
    justify-content: center;
    background-color: #F6DFEB;
    padding: 40px;
}

.quote-container {
    flex-basis: 950px;
}

blockquote > p {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    margin: 0;
}

.author {
    font-size: 20px;
    text-align: end;
    font-weight: bold;

}

/* action */
.action-section {
    display: flex;
    justify-content: center;
    margin: 40px;
    padding: 40px;
}

.action-container {
    display: flex;
    flex-basis: 950px;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    border-radius: 15px;
    background-color: #E4BAD4;
}

.button-bottom {
    color: white;
    font-weight: bold;
    font-size: 18px;
    background-color: #E4BAD4;
    border: 3px solid white;
    border-radius: 5px;
    padding: 5px 20px;
}

h3 {
    font-size: 24px;
    margin: 0;
}

/* footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: baseline;
    background: #F6DFEB;
    padding: 40px;
}

.gitlink {
    margin: 0 5px;
}